#paragraphs {
    position: relative;
    top: 25px;
}

.content1 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.content2 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.content3 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;   
}

p {
    width: 700px;
}